In [2]:
import math
import numpy as np
import pandas as pd


data=pd.read_excel("Mid term question 19.xlsx")

data.head(20)

   cattle type  height(cm)  weight(kg)  Parent illness healthy
0    simmental          80          80           False      no
1    simmental          75          85            True      no
2     galloway          78          81           False     yes
3     hereford          65          91           False     yes
4     hereford          63          75           False     yes
5     hereford          60          65            True      no
6     galloway          59          60            True     yes
7    simmental          67          90           False      no
8    simmental          64          65           False     yes
9     hereford          70          75           False     yes
10   simmental          70          65            True     yes
11    galloway          67          85            True      no
12    galloway          76          70           False     yes
13    hereford          66          76            True      no